Source of the data:

-	We obtained this dataset from the website Kaggle. 
-	https://www.kaggle.com/karangadiya/fifa19 

Gadiya, K. (2018, December 21). FIFA 19 complete player dataset. Kaggle. Retrieved December 11, 2021, from
               https://www.kaggle.com/karangadiya/fifa19

 
Observations: 

-	The observations are people, specifically FiFA 19 soccer players. We minimized the number of observations used to only 1000 players, in order to place the focus on the best players..

In [495]:
import numpy as np

In [496]:
import pandas as pd

In [497]:
import statistics as stats

In [498]:
import matplotlib.pyplot as plt

In [499]:
import scipy as sp

In [500]:
/salmaye/local/bin/python3 -m pip install --upgrade pip

NameError: name 'salmaye' is not defined

In [ ]:
pip install statsmodels.api

ERROR: Could not find a version that satisfies the requirement statsmodels.api (from versions: none)
ERROR: No matching distribution found for statsmodels.api
WARNING: You are using pip version 22.0.1; however, version 22.0.3 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import statsmodels.api as sm

ModuleNotFoundError: No module named 'statsmodels'

In [501]:
df=pd.read_csv("data.csv")

In [502]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,ValueInMillions,WageInThousands,Special,...,WeightInPounds,Release Clause,Jumping,Strength,SprintSpeed,Agility,Balance,Vision,Dribbling,BallControl
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110.5,565,2202,...,159,226.5,68,59,86,91,95,94,97,96
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77.0,405,2228,...,183,127.1,95,79,91,87,70,82,88,94
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118.5,290,2143,...,150,228.1,61,49,90,96,84,87,96,95
3,193080,De Gea,27,Spain,91,93,Manchester United,72.0,260,1471,...,168,138.6,67,64,58,60,43,68,18,42
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102.0,355,2281,...,154,196.4,63,75,76,79,77,94,86,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,193361,R. Soriano,27,Italy,77,77,Torino,9.5,31,2082,...,168,NaN,66,69,75,79,72,78,78,79
997,223058,D. Kuzyaev,25,Russia,77,80,NaN,0.0,0,2041,...,163,NaN,60,59,81,80,76,70,78,79
998,152916,R. Sambueza,34,Argentina,77,77,Deportivo Toluca,4.5,26,2005,...,159,7.6,67,75,71,69,73,80,77,80
999,194644,Montoya,27,Spain,77,78,Brighton & Hove Albion,8.0,43,2036,...,161,15.8,75,68,79,78,80,63,70,74
1000,185174,A. Poli,28,Italy,77,77,Bologna,9.0,34,2040,...,170,15.3,68,65,75,75,75,78,79,80

In [503]:
df['WeightInPounds'].mean()

170.04695304695304

In [504]:
df['WeightInPounds'].median()

170.0

In [ ]:
df['WeightInPounds'].quantile([0,.25,.5,.75,1])

0.00    130.0
0.25    159.0
0.50    170.0
0.75    181.0
1.00    220.0
Name: WeightInPounds, dtype: float64

In [ ]:
df['WeightInPounds'].var()

259.4867932067932

In [ ]:
df['WeightInPounds'].std()

16.108593768755647

In [ ]:
df['HeightInInches'].mean()

5.834625374625373

In [ ]:
df['HeightInInches'].median()

6.0

In [ ]:
df['HeightInInches'].quantile([0,.25,.5,.75,1])

0.00    5.1
0.25    5.6
0.50    6.0
0.75    6.2
1.00    6.7
Name: HeightInInches, dtype: float64

In [ ]:
df['HeightInInches'].var()

0.2048174845154845

In [ ]:
df['HeightInInches'].std()

0.45256765739001337

In [ ]:
df['Release Clause'].mean()

36.424921135646684

In [ ]:
df['Release Clause'].median()

28.3

In [ ]:
df['Release Clause'].quantile([0,.25,.5,.75,1])

0.00      1.10
0.25     19.00
0.50     28.30
0.75     43.65
1.00    228.10
Name: Release Clause, dtype: float64

In [ ]:
df['Release Clause'].var()

819.426251967458

In [505]:
df['Release Clause'].std()

28.625622298344155

In [506]:
df['WageInThousands'].mean()

65.4085914085914

In [ ]:
df['WageInThousands'].median()

46.0

In [ ]:
df['WageInThousands'].quantile([0,.25,.5,.75,1])

0.00      0.0
0.25     26.0
0.50     46.0
0.75     84.0
1.00    565.0
Name: WageInThousands, dtype: float64

In [ ]:
df['WageInThousands'].var()

3992.0118861138862

In [ ]:
df['WageInThousands'].std()

63.18237005774543

In [ ]:
df['ValueInMillions'].mean()

19.35764235764236

In [ ]:
df['ValueInMillions'].median()

14.5

In [509]:
df['ValueInMillions'].var()

548.2524840359641

In [508]:
df['ValueInMillions'].std()

23.41479199215667

In [507]:
df['ValueInMillions'].quantile([0,.25,.5,.75,1])

0.00      0.0
0.25     10.0
0.50     14.5
0.75     22.0
1.00    600.0
Name: ValueInMillions, dtype: float64

In [512]:
df['Jumping'].corr(df['Strength'])

0.3361784412480953

In [516]:
df['SprintSpeed'].corr(df['Agility'])

0.705399575116226

In [518]:
df['Agility'].corr(df['Balance'])

0.8588518827099209

In [520]:
df['HeightInInches'].corr(df['Vision'])

-0.40968454146379213

In [521]:
df['Dribbling'].corr(df['Vision'])

0.7349019081632446

In [527]:
df['WeightInPounds'].corr(df['Strength'])

0.6540476289586655

In [529]:
df['Dribbling'].corr(df['Balance'])

0.7041649248407201

In [532]:
df['BallControl'].corr(df['Dribbling'])

0.9647121301117824